*.mat
*.h5
*.pyc
*.npy
*.npz
*-checkpoint.ipynb
*~
*.swp

exp-*/data/*
exp-*/log/*
exp-*/results*/*
exp-*/caffemodel/*
exp-*/tfmodel/*
exp-*/__obsolete__/*
exp-referit/referit-dataset/*

*.caffemodel
*.tfmodel*

*-Copy*.ipynb

checkpoint
